In [6]:
#for loop in python
a = [10, 20 , 40 ]
for e in a:
    print(e)

10
20
40

In [8]:
# sum using for loop
a = [20, 50, 100]
total = 0
for e in a:
    total = total + e
print(total)

170

In [11]:
# using range in for loop
list(range(1, 5))

[1, 2, 3, 4]

In [12]:
for i in range(1,5):
    print(i)

1
2
3
4

In [14]:
#adding values of range using list and applying for loop
z = list(range(2,10))
total2 = 0 
for i in z:
    total2 += i
print(total2)

44

In [16]:
#sum of multiple of 3 in list
z = list(range(2, 10))
total3 = 0
for i in z:
    if i % 3 == 0:
        total3 += i
print(total3)

18

In [30]:
#Write a program that prints the numbers from 1 to 100. But for multiples of three print “three” 
#instead of the number and for the multiples of five print "five".
#For numbers which are multiples of both three and five print “FizzBuzz”.
# create a function

def three_five(num):
    if num % 3 == 0 and num % 5 == 0:
        return 'threefive'
    elif num % 3 == 0:
        return 'three'
    elif num % 5 == 0:
        return 'five'
    else:
        return num
for n in range(1, 100):
    print(three_five(n))

1
2
three
4
five
three
7
8
three
five
11
three
13
14
threefive
16
17
three
19
five
three
22
23
three
five
26
three
28
29
threefive
31
32
three
34
five
three
37
38
three
five
41
three
43
44
threefive
46
47
three
49
five
three
52
53
three
five
56
three
58
59
threefive
61
62
three
64
five
three
67
68
three
five
71
three
73
74
threefive
76
77
three
79
five
three
82
83
three
five
86
three
88
89
threefive
91
92
three
94
five
three
97
98
three

In [63]:
#sum of multiple of 3 and 5 
z = list(range(1, 100))
total5 = 0 
for n in z:
    if n % 3 == 0 and n % 5 == 0:
        total5 += n
print(total5)

315

In [62]:
#sum of multiple of 3 and 5 
sum(set(list(range(0, 100, 3)) + list(range(0, 100, 5))))

2318