In [4]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [6]:
print('hello')

hello

In [7]:
print(2)

2

In [8]:
name = 'Shahzad'
print(name)

Shahzad

In [22]:
G_name = 'Shahzad '
Fname = ' Hashmi '
Cast = name + Fname
print(Cast)

Shahzad  Hashmi

In [11]:
x = 5
a = 10 
c = x + a 
print(c)

15

In [18]:
print('''My name is  Shahzad
        afasfasfa
        afasf''')

My name is  Shahzad
        afasfasfa
        afasf

In [28]:
id_card = "Shezi02 \n"
name = "shahzad\n"
father_name = "Muhammad Iqbal\n"
course_name = "PIAIC\n"
print(id_card,name,father_name,course_name)

Shezi02
 shahzad
 Muhammad Iqbal
 PIAIC

In [30]:
cars = ["Ford", "Volvo", "BMW"]

print(cars)

['Ford', 'Volvo', 'BMW']

In [31]:
weight = 25
multiplier = 2.5
print(weight * 2.5)

62.5